<%- include("partials/header") %>

<h1>This is the home page.</h1>

<img src="https://images.unsplash.com/photo-1585671051484-4e66fda80218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">

<%- include("partials/footer") %>